body {
  margin: 0;
  background: #F57921;
  font-family: sans-serif;
}

.game-wrapper {
}

.letter {
  font-size: 1.25em;
  font-weight: bold;
  display: inline-block;
  border-radius: 5px;
  background: #FFFFFF;
  width: 55px;
  height: 55px;
  margin: 5px;
  text-align: center;
  line-height: 50px;
  box-shadow: -2px 2px 7px black;
}

.board {
  background: #398BD4;
  border: 4px solid #FFCA08;
  display: inline-block;
  padding: 5px;
}


/* ---------- */
/* Scoreboard */
/* ---------- */
.column {
  float: left;
  background: #FFFFFF;
  padding: 5px;
}

.left, .right {
  border-bottom: 4px solid #FFCA08;
  border-left: 4px solid #FFCA08;
}

.left {
  width: 120px;
}

.right {
  width: 60px;
  border-right: 4px solid #FFCA08;
}

.row:first-child .left, .row:first-child .right {
  border-top: 4px solid #FFCA08;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.bold {
  font-weight: bold;
}